<!--A base HTML is the styling, navbar that we want to display on all pages of the web-->
{% extends "bootstrap/base.html" %}

{% block title %}
CS 5001-COVID-19 Project Web Page
{% endblock %}

{% block styles %}
{{super()}}
<link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block navbar %}
<div class="container-fluid">
    <nav class="navbar navbar-expand bg-dark navbar-dark">
        <a class="navbar-brand" href="/">CS 5001-COVID-19 Project</a>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="britishcolumbia">British Columbia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="canada">Canada</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="world">World</a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}

{% block scripts %}
<script src="{{url_for('.static', filename='js/script.js')}}"></script>
{{super()}}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <p style='font-size:30px;'>
            CS 5001 Project, Fall 2020
        </p>
    </div>
</div>
{% endblock %}