{% extends "base.html" %}

{% block content %}
<div class="container-fluid gridshading">
    <div class="row">
        <div class="col-12 col-md-12">
            <img src="https://d2guulkeunn7d8.cloudfront.net/assets/homepage/img-touch-app-e52e78417435efa1d346b5969b6071b50b5dfa2d52efcbeff771b718023584d9.jpg" alt="Flowers in Chania" width="100%" height="100%">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <img src="https://d2guulkeunn7d8.cloudfront.net/assets/homepage/img-touch-app-e52e78417435efa1d346b5969b6071b50b5dfa2d52efcbeff771b718023584d9.jpg" alt="Flowers in Chania" width="100%" height="100%">
        </div>
        <div class="col-12 col-md-4">
            <img src="https://d2guulkeunn7d8.cloudfront.net/assets/homepage/img-shop-car-ff4b655800f3697555171e3743aa33eb4aa6ebd38b0ec04094972a9a30d1cf11.jpg" alt="Flowers in Chania" width="100%" height="100%">
        </div>
        <div class="col-12 col-md-4">
            <img src="https://d2guulkeunn7d8.cloudfront.net/assets/homepage/img-bag-0e8d6703d4ed9bd42299df8b95a2cc13bc676199a2bbfc8475aa97ec0667f588.jpg" alt="Flowers in Chania" width="100%" height="100%">
        </div>
    </div>
    <div class="row">
        <div class=" col-12 col-md-6">
            <img src="https://d2guulkeunn7d8.cloudfront.net/assets/homepage/img-coupon-savings-932907d7b2ad08f8bc994f362d26c96b1e8579842be15b46d1c6cf20db00474f.jpg" alt="Flowers in Chania" width="100%" height="100%">
        </div>
        <div class="col-12 col-md-6">
            <img src="https://d2guulkeunn7d8.cloudfront.net/assets/homepage/img-mom-baby-a403511d8a67c6106e2dd02b3b8f9c154a7e5fbad18cc668131a9acf6cef7807.jpg" alt="Flowers in Chania" width="100%" height="100%">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <img src="https://d2guulkeunn7d8.cloudfront.net/assets/homepage/img-shopper-porch-0498fea9e92095733dab48e81635affb8c7013d0e16fcf36105006246187f9d2.jpg" alt="Flowers in Chania" width="100%" height="100%">
        </div>
    
        <div class="col-12 col-md-6">
            <img src="https://d2guulkeunn7d8.cloudfront.net/assets/homepage/img-shop-car-ff4b655800f3697555171e3743aa33eb4aa6ebd38b0ec04094972a9a30d1cf11.jpg" alt="Flowers in Chania" width="100%" height="100%">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <img src="https://d2guulkeunn7d8.cloudfront.net/assets/homepage/img-brands-167502894bc731eaefd346b3efad5ae164b32a0501516f59d11eeea8b6098746.jpg" alt="Flowers in Chania" width="100%" height="100%">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <img src="https://d2guulkeunn7d8.cloudfront.net/assets/homepage/img-brands-167502894bc731eaefd346b3efad5ae164b32a0501516f59d11eeea8b6098746.jpg" alt="Flowers in Chania" width="100%" height="100%">
        </div>
    
        <div class="col-12 col-md-6">
            <img src="https://d2guulkeunn7d8.cloudfront.net/assets/homepage/img-shopper-porch-0498fea9e92095733dab48e81635affb8c7013d0e16fcf36105006246187f9d2.jpg" alt="Flowers in Chania" width="100%" height="100%">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12">
            <img src="https://d2guulkeunn7d8.cloudfront.net/assets/homepage/img-press-logos-8b78f407db23ecdb5be04cf471fad7639636bc10ec1a4ed4941b2ed4be905720.png" alt="Flowers in Chania" width="100%" height="100%">
        </div>
    </div>

    {{super()}}
</div>
{% endblock %}